.container {
    display:flex;
    background-color: blue;
    flex-direction: row;
    width:500px;
    flex-wrap: wrap;
    justify-content: space-between;
    
}

.container div {
    background-color:navajowhite;
    margin: 10px;
    padding: 20px;
    font-size: 24px;
}