
body {

font-family: Helvetica,
sans-serif;
font-size: 18px;
color: purple;
}

#container {
width: 680px;
border: 1px peru double;
}

font {

family: Helvetica, sans-serif;
size: 30px;
weight: bold;
}

text {
align: center;
transform: lowercase;
overflow: hidden;
}