@import "reset";

body {
font-family: Helvetica, sans-serif;
font-size: 18px;
color: red;
}

@import "colors";

body {
font-family: Helvetica, sans-serif;
font-size: 18px;
color: $myBlue;
}