html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.container {
    display: grid;
    grid-template-areas:
        "header header"
        "menu content"
        "main main"
        "footer footer";
    grid-template-columns: 1fr 3fr;
    grid-template-rows: auto 1fr auto auto;
    gap: 3px; 
    background-color: dodgerblue;
    padding: 5px;
    height: 100%;
    box-sizing: border-box;
}
.container div {
    background-color:rgb(59, 193, 255);
    padding: 10px;
}
.container div.header {
    grid-area: header;
    text-align: center;
}
.container div.menu {
    grid-area: menu;
}
.container div.content {
    grid-area: content;
}
.container div.main {
    grid-area: main;
}
.container div.footer {
    grid-area: footer;
    text-align: center;

}