body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: lightblue;
    padding: 20px;
    text-align: center;
}

main {
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: space-around;
    align-items: stretch;
    padding: 20px;
    background-color: #f0f0f0;
}

article {
    background-color: navajowhite;
    padding: 20px;
    flex: 1;
    margin: 10px;
    text-align: center;
    
}

.text1 {
    background-color: lightgreen;
    padding: 20px;
    flex: 1;
    margin: 10px;
    text-align: center;
}

.text2 {
    background-color: lightcoral;
    padding: 20px;
    flex: 1;
    margin: 10px;
    text-align: center;
}
.text3 {
    background-color: lightseagreen;
    padding: 20px;
    flex: 1;
    margin: 10px;
    text-align: center;
}

footer {
    background-color: lightgray;
    padding: 20px;
    text-align: center;
}