.mybutton {
padding: 10px 20px;
border: none;
border-radius: 4px;
cursor: pointer;
}

.primary {
background-color: #007bff;
color: white;
}

.secondary {
background-color: #d61313;
color: white;
}

.tertiary {
background-color: greenyellow;
color: white
}